{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FleetIQ Dashboard</title>
    <link rel="stylesheet" href="{% static 'operations/css/dashboard.css' %}">
</head>

<body>

    <header class="dashboard-header">
        <h1>FleetIQ Dashboard</h1>
        <p>Operational intelligence for maritime fleet monitoring</p>
    </header>

    <div class="navigation-bar">
        <a href="/vessels/" class="forward-link">
            See all Vessels →
        </a>
    </div>
    <main class="dashboard-container">

        <section class="kpi-grid">
            <div class="kpi-card">
                <span>Total Vessels</span>
                <strong id="total-vessels">...</strong>
            </div>

            <div class="kpi-card">
                <span>Active Vessels</span>
                <strong id="active-vessels">...</strong>
            </div>

            <div class="kpi-card">
                <span>Total Voyages</span>
                <strong id="total-voyages">...</strong>
            </div>

            <div class="kpi-card">
                <span>Total Alerts</span>
                <strong id="total-alerts">...</strong>
            </div>

            <div class="kpi-card critical">
                <span>Critical Alerts</span>
                <strong id="critical-alerts">...</strong>
            </div>

            <div class="kpi-card warning">
                <span>Unresolved Alerts</span>
                <strong id="unresolved-alerts">...</strong>
            </div>
        </section>

        <section class="panel chart-panel">
            <h2>Alerts Distribution by Type</h2>
            <canvas id="alert-type-chart"></canvas>
        </section>

        <section class="panel chart-panel">
            <h2>Alerts Distribution by Severity</h2>
            <canvas id="alert-severity-chart"></canvas>
        </section>

        <section class="panel chart-panel">
            <h2>Time Evolution of Alerts</h2>
            <canvas id="alert-time-evolution"></canvas>
        </section>

        <section class="panel chart-panel">
            <h2>Alerts by Vessel</h2>
            <canvas id="alert-by-vessel-chart"></canvas>
        </section>



        <section class="panel">
            <h2>Latest Operational Alerts</h2>

            <table>
                <thead>
                    <tr>
                        <th>Vessel</th>
                        <th>Alert Type</th>
                        <th>Severity</th>
                        <th>Message</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody id="latest-alerts-table"></tbody>
            </table>
        </section>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'operations/js/dashboard.js' %}"></script>
</body>

</html>